<div class="row-cols-1 p-2 p-md-5">
  <div class="d-flex flex-column flex-md-row justify-content-md-between">
    <div>
      <span class="text-body-tertiary d-none d-md-flex m-md-auto">Episode number:</span>
      <h1 class="shadow-headers">{{ episode.id }}</h1>
    </div>

    <div>
      <span class="text-body-tertiary d-none d-md-block">Title:</span>
      <h1 class="shadow-headers">{{ episode.name }}</h1>
    </div>

    <div>
      <span class="text-body-tertiary d-none d-md-block">Air Date:</span>
      <p class="text-body-secondary">{{ episode.air_date }}</p>
    </div>

  </div>
</div>

<div class="container-sm p-2 p-md-4">
  <div class="row-cols-3 d-flex">
    <h4 class="m-auto shadow-headers">Some of its Characters: </h4>
  </div>

  <div class="row">

    <div *ngFor="let character of characters" class="col-12 col-lg-4 col-md-6 mt-2">
      <div class="card bg-info-subtle card-elevation">
        <div class="card-body d-flex flex-row">
          <div>
            <div class="card-title">
              <span class="text-body-tertiary">Name: </span>
              <h5>{{ character.name }}</h5>
            </div>
            <div class="card-subtitle">
              <span class="text-body-tertiary">Specie: </span>
              <h5>{{ character.species }}</h5>
            </div>
          </div>
          <img class="card-img img-fluid ms-auto"
               [ngSrc]="character.image"
               width="200"
               height="200"
               style="max-height: 100px; max-width: 200px"
               [alt]="character.name">
        </div>

      </div>

    </div>

  </div>
</div>

