<div class="card card-elevation mt-2">
  <div class="card-header d-flex">
    <div>
      <span class="text-body-tertiary">name:</span>
      <h5 class="shadow-headers">{{ location.name }}</h5>
    </div>
    <span class="ms-auto text-body-tertiary">#{{ location.id }}</span>
  </div>
  <div class="card-body">
    <div class="card-title">
      <span class="text-body-tertiary">dimension:</span>
      <p class="shadow-headers">{{location.dimension}}</p>
    </div>
    <div class="card-subtitle">
      <span class="text-body-tertiary">type:</span>
      <p class="shadow-headers">{{location.type}}</p>
    </div>
  </div>
</div>
